<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}My Samba App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}" />
</head>
<body>
  <header>
    <div class="banner">
      <img src="{{ url_for('static', path='images/logo.svg') }}" alt="Logo" class="logo" />
      <h1>My Samba Manager</h1>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <script src="{{ url_for('static', path='js/scripts.js') }}"></script>
</body>
</html>
